In [46]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [47]:
from markovBike.source.source import get_stations_data, get_trips_data

In [48]:
table = get_stations_data(12)

Downloading: 100%|██████████|
Bike stations table with 12 samples and 18 columns loaded, columns are:

station_id                                object
name                                      object
short_name                                object
latitude                                 float64
longitude                                float64
region_id                                  Int64
rental_methods                            object
capacity                                   Int64
eightd_has_key_dispenser                 boolean
num_bikes_available                        Int64
num_bikes_disabled                         Int64
num_docks_available                        Int64
num_docks_disabled                         Int64
is_installed                             boolean
is_renting                               boolean
is_returning                             boolean
eightd_has_available_keys                boolean
last_reported                datetime64[ns, UTC]
dtype: object

In [49]:
trips = get_trips_data(10)

Downloading: 100%|██████████|
Bike trips table with 10 samples and 15 columns loaded, columns are:

tripduration                             Int64
starttime                  datetime64[ns, UTC]
stoptime                   datetime64[ns, UTC]
start_station_id                         Int64
start_station_name                      object
start_station_latitude                 float64
start_station_longitude                float64
end_station_id                           Int64
end_station_name                        object
end_station_latitude                   float64
end_station_longitude                  float64
bikeid                                   Int64
usertype                                object
birth_year                               Int64
gender                                  object
dtype: object

In [42]:
trips

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,107,2014-06-06 13:02:01+00:00,2014-06-06 13:03:48+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,16692,Subscriber,1977,male
1,1105,2013-08-24 17:03:52+00:00,2013-08-24 17:22:17+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,15352,Customer,<NA>,unknown
2,990,2014-04-25 11:52:28+00:00,2014-04-25 12:08:58+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,20194,Subscriber,1973,male
3,138,2015-08-20 16:58:57+00:00,2015-08-20 17:01:16+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,21002,Subscriber,1977,male
4,78,2014-09-13 13:18:36+00:00,2014-09-13 13:19:54+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,19259,Customer,<NA>,unknown
5,826,2015-08-26 19:48:32+00:00,2015-08-26 20:02:19+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,17766,Customer,<NA>,unknown
6,122,2015-11-30 16:20:57+00:00,2015-11-30 16:23:00+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,17913,Customer,<NA>,unknown
7,999,2015-10-30 12:58:52+00:00,2015-10-30 13:15:32+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,23325,Subscriber,1958,male
8,1745,2014-04-03 11:57:26+00:00,2014-04-03 12:26:31+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,21445,Subscriber,1979,male
9,128,2016-08-29 13:48:25+00:00,2016-08-29 13:50:33+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,23801,Customer,<NA>,unknown