In [7]:
from markovBike.manager.manager import Manager
from markovBike.data_source.source import database_queries, get_stations_data, get_trips_data
from markovBike.data_source.preprocess import preprocess_stations_data, preprocess_trips_data

import pandas as pd

In [13]:
get_trips_data("SELECT * FROM bigquery-public-data.new_york.citibike_trips ORDER BY starttime DESC LIMIT 10")

Bike trips table with shape (10, 15). Columns are:

tripduration                             Int64
starttime                  datetime64[ns, UTC]
stoptime                   datetime64[ns, UTC]
start_station_id                         Int64
start_station_name                      object
start_station_latitude                 float64
start_station_longitude                float64
end_station_id                           Int64
end_station_name                        object
end_station_latitude                   float64
end_station_longitude                  float64
bikeid                                   Int64
usertype                                object
birth_year                               Int64
gender                                  object
dtype: object

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,1107,2016-09-30 23:59:51+00:00,2016-10-01 00:18:18+00:00,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,418,Front St & Gold St,40.702240,-73.982578,22300,Subscriber,1982,male
1,1117,2016-09-30 23:59:28+00:00,2016-10-01 00:18:06+00:00,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,418,Front St & Gold St,40.702240,-73.982578,22896,Subscriber,1989,female
2,552,2016-09-30 23:59:27+00:00,2016-10-01 00:08:40+00:00,157,Henry St & Atlantic Ave,40.690893,-73.996123,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,18868,Subscriber,1970,male
3,1584,2016-09-30 23:59:17+00:00,2016-10-01 00:25:42+00:00,229,Great Jones St,40.727434,-73.993790,3100,Nassau Ave & Newell St,40.724813,-73.947526,23654,Subscriber,1981,male
4,652,2016-09-30 23:59:12+00:00,2016-10-01 00:10:04+00:00,438,St Marks Pl & 1 Ave,40.727791,-73.985649,434,9 Ave & W 18 St,40.743174,-74.003664,22770,Subscriber,1989,male
5,547,2016-09-30 23:59:11+00:00,2016-10-01 00:08:19+00:00,157,Henry St & Atlantic Ave,40.690893,-73.996123,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,17656,Subscriber,1974,male
6,627,2016-09-30 23:58:55+00:00,2016-10-01 00:09:22+00:00,3158,W 63 St & Broadway,40.771639,-73.982614,3314,W 95 St & Broadway,40.793770,-73.971888,25225,Subscriber,1990,male
7,411,2016-09-30 23:58:40+00:00,2016-10-01 00:05:32+00:00,323,Lawrence St & Willoughby St,40.692362,-73.986317,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,27314,Subscriber,1971,male
8,502,2016-09-30 23:58:24+00:00,2016-10-01 00:06:47+00:00,3409,Bergen St & Smith St,40.686744,-73.990632,3368,5 Ave & 3 St,40.672815,-73.983524,27269,Subscriber,1977,male
9,3104,2016-09-30 23:58:18+00:00,2016-10-01 00:50:03+00:00,3146,E 81 St & 3 Ave,40.775730,-73.956753,3402,Court St & State St,40.690238,-73.992031,22156,Subscriber,1986,male